{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    {% block css %}
<link rel="stylesheet" href="{% static 'app/styles/bands.css' %}" />
    {% endblock %}

<section>
    <table>
        <thead>
            <tr><th>Name</th></tr>
        </thead>
        <tbody>
            {% for band in bands %}
            <tr><td>{{ band.name }}</td></tr>
            <tr><td>{{ band.image }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <form method="post">
        <input type="text" name="band_id" value="{{ band.id }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Add">Add Band</button>
        <button type="submit" name="Update">Update</button>
        <button type="submit" name="Remove">Remove</button>
    </form>
</section>
{% endblock %}