{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    {% block css %}
<link rel="stylesheet" href="{% static 'app/styles/panel.css' %}" />
    {% endblock %}

<section>
    <aside>
        <table id="genres-table">
            <caption>Genres</caption>
            <thead>
                <tr><th>Id</th><th>Name</th></tr>
            </thead>
            <tbody>
                {% for genre in genres %}
                <tr data-id="{{ genre.id }}"><td>{{ genre.id }}</td><td>{{ genre.name }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </aside>
</section>
<section>
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="id">Id</label>
            <input type="text" id="idInput" name="id" value="{{ genre.id.value }}" readonly>
        </div>

        <div>
            <label for="name">Name</label>
            <input type="text" id="nameInput" name="name" value="{{ form.name.value }}">
        </div>

        <div>
            <button type="submit" name="add">Add</button>
            <button type="submit" name="update">Update</button>
            <button type="submit" name="delete">Delete</button>
        </div>
    </form>
</section>

<script>
    var genresTable = document.querySelector('#genres-table');
    var idInput = document.querySelector('#idInput');
    var nameInput = document.querySelector('#nameInput');

    var selectedRow = null;

    genresTable.addEventListener('click', (event) => {
        const row = event.target.closest('tr');
        if (row && row.dataset.id) {

            if (selectedRow) selectedRow.classList.remove('selected-row');

            selectedRow = row;

            idInput.value = selectedRow.cells[0].textContent;
            nameInput.value = selectedRow.cells[1].textContent;

            row.classList.add('selected-row');
        }
    });
</script>
{% endblock %}