
.icon-phone:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-mail-2:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-hourglass:before { content: '\e808'; } /* '' */
.icon-ok-circled:before { content: '\e809'; } /* '' */
.icon-ok-circled2:before { content: '\e80a'; } /* '' */
.icon-money:before { content: '\e80b'; } /* '' */
.icon-wallet:before { content: '\e80c'; } /* '' */
.icon-money-1:before { content: '\e80d'; } /* '' */
.icon-mobile:before { content: '\e80e'; } /* '' */
.icon-ok-outline:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
