* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 50px;
}

nav > h3 {
    cursor: default;

    width: 125px;

    text-shadow: 1px 2px 2px #FFFFFF;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 32.5px;
    color: #B320CC;
}

nav > ul {
    display: flex;

    flex-direction: row;

    list-style: none;
}

ul > li {
    width: 125px;

    text-align: center;
}

li > a {
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 17.5px;
}

ul > li:hover {
    text-shadow: 2px 5px 5px #FFFFFF;
    
    transition: 0.1s ease-in-out;
}

li > a:active, li > a:visited, li > a:link {
    text-decoration:none;
    color:white;
}
