{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    {% block css %}
<link rel="stylesheet" href="{% static 'app/styles/albums.css' %}" />
    {% endblock %}

<section>
    <table>
        <thead>
            <tr><th>Name</th></tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr><td>{{ album.title }}</td></tr>
            <tr><td>{{ album.band }}</td></tr>
            <tr><td>{{ album.cover }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <form method="post">
        <input type="text" name="album_id" value="{{ album.id }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Add">Add Album</button>
        <button type="submit" name="Update">Update</button>
        <button type="submit" name="Remove">Remove</button>
    </form>
</section>
{% endblock %}