{% extends "app/layout.html" %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/styles/about.css' %}" />
{% endblock %}

    <section>
        <h2>O nas</h2>
        <p>
            SONO pojawiło się na rynku w 2009roku. Jako założyciele staramy się, by nasi użytkownicy zawsze mieli dostęp do najciekawszych, najmodniejszych utworów, a także
            tych starszych, które do dziś chwytają za serca. Posiadamy kolekcje płyt winylowych i klasycznych.
            Dzięki naszej wypożyczalni SONO możliwiamy legalny dostęp do płyt, które będziesz mógł przesłuchać w dowolnym miejscu i czasie.
        </p>
    </section>

    <div>

    </div>
{% endblock %}