{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    {% block css %}
<link rel="stylesheet" href="{% static 'app/styles/catalog.css' %}" />
    {% endblock %}

<section>
    {% for album in albums %}
    <figure>
        <a>
            <img src="{{ album.cover.url }}" alt="Album cover">
            <figcaption>
                <h4>{{ album.title }}</h4>
                <h5>{{ album.band.name }}</h5>
            </figcaption>
        </a>
    </figure>
    {% endfor %}
</section>
{% endblock %} 