{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/styles/navmenu.css' %}" />
{% endblock %}

<nav>
    <h3>SONO</h3>
    <ul>
        {% if group == 'Users' %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'catalog' %}">Catalog</a></li>
        <li><a href="{% url 'history' %}">History</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'sign_out' %}">Sign out</a></li>
        {% elif group == 'Administrators' %}
        <li><a href="{% url 'rentals' %}">Rentals</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'albums' %}">Albums</a></li>
        <li><a href="{% url 'bands' %}">Bands</a></li>
        <li><a href="{% url 'songs' %}">Songs</a></li>
        <li><a href="{% url 'band_members' %}">Band members</a></li>
        <li><a href="{% url 'genres' %}">Genres</a></li>
        <li><a href="{% url 'sign_out' %}">Sign out</a></li>
        {% else %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'sign_in' %}">Sign In</a></li>
        <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>