{% extends "app/layout.html" %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/styles/signin.css' %}" />
{% endblock %}

<section>
    <section>
        <div id="header">
            <p>Zaloguj się!</p>
        </div>
    </section>
    <form>
        <span>
            <label>Nazwa użytkownika:</label>
        </span>
        <input type="text" name="userName" />
        <span>
            <label>Hasło:</label>
        </span>
        <input type="password" name="password" />
        <input type="submit" value="Zaloguj się" />
    </form>
    <a href="{% url 'signup' %}">Nie masz jeszcze konta? Zarejestruj się</a>
</section>

{% endblock %}