{% extends "app/layout.html" %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/styles/signup.css' %}" />
{% endblock %}

<section>
    <section>
        <div id="header">
            <p>Zarejestruj się!</p>
        </div>
    </section>
    <form>
        <span>
            <label>Email:</label>
        </span>
        <input type="text" name="email" />
        <span>
            <label>Nazwa użytkownika:</label>
        </span>
        <input type="text" name="userName" />
        <span>
            <label>Hasło:</label>
        </span>
        <input type="password" name="password" />
        <span>
            <label>Data urodzenia:</label>
        </span>
        <input type="datetime" name="birthdate" />

        <input type="submit" value="Zarejestruj się" />
    </form>
</section>

{% endblock %}