{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    {% block css %}
<link rel="stylesheet" href="{% static 'app/styles/products.css' %}" />
    {% endblock %}

<section>
    <table>
        <thead>
            <tr><th>Name</th></tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr><td>{{ product.album }}</td></tr>
            <tr><td>{{ product.code }}</td></tr>
            <tr><td>{{ product.rental }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <form method="post">
        <input type="text" name="product_id" value="{{ product.id }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Add">Add Product</button>
        <button type="submit" name="Update">Update</button>
        <button type="submit" name="Remove">Remove</button>
    </form>
</section>
{% endblock %}